@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #49557e;
  --color-secondary: #ff6347;
}

@layer utilities {
  /* Chrome, Safari and Opera*/
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
